@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

#cart tbody td p {
  display: inline;
  text-align: center;
}
#cart tbody td {
  text-align: center;
}
header {
  border: thin solid black;
  padding: 20px 20px 5px 20px;
  background-color: #485d64;
  font-family: Arial, Helvetica, sans-serif;
  color: #dff3f3;
}
h1:not(.card header h1) {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Michroma', sans-serif;
  color: white;
  padding-bottom: 5px;
}
.card header h1 {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Michroma', sans-serif;
  color: white;
  padding-bottom: 10px;
  text-align: center;
}
footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #485d64;
  height: 50px;
  border: thin solid black;
  color: #dff3f3;
}
nav {
  /* display: flex;
  flex-direction: row; */
  width: 75px;
  /* background-color: #0d68ad; */
  align-items: center;
  padding-top: 20px;
  z-index: 10;
  /* border-right: 2px solid black; */
}
nav a {
  color: #f1f9ff;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 10px;
}
nav ul {
  display: flex;
}
nav li {
  padding: 5px;
}

nav li:hover {
  color: rgb(5, 142, 142);
}
nav li a:hover {
  color: rgb(5, 142, 142);
}
#itemCount {
  margin: 5px;
  padding-left: 3px;
  font-size: 20px;

}
.copy ol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  margin: 15px 0 15px 0;
}

.copy{
  font-family: Quicksand;
}

.col-2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

legend{
  font-size: 45px;
  font-weight: bold;
  
  text-align: center;
  margin-bottom: 20px;
}

fieldset{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-family: Quicksand;
  background-color: #485d64;
  width: 550px;
  height: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#cartContents{
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  width: 400px;
  font-size: 40px;
  font-family: Quicksand;
  background-color: white;
  color: black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: right;
}

section:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cart-container{
  display: flex;
  justify-content: center;
}

p:hover{
cursor: pointer;
}

span{
  color:white;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 10px;

}

table{
  font-family: 'Quicksand', sans-serif;;
  text-align: center;
  border-collapse: collapse;
  border-radius: 20px;
  margin: 15px 0;
  font-size: 0.9em;
  min-height: 400px;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

th{
  text-align: left;
  font-weight: bold;
  color: #f0f0f0;
  background-color: #485d64;
  padding:15px;
  margin: 5px;
  vertical-align: middle;
  text-align: center;
}

td{
  height: 40px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}


input{
  margin-right: 5px;
}

